Repository leonidv/ideaelection: changes, and which Semaphore blocks are due for each by the changed paths.
All: Couchbase building, Backend building

.semaphore/semaphore.yml:

version: v1.0
name: Idea Elections

agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu1804
execution_time_limit:
    minutes: 30

global_job_config:
  secrets:
    - name: DockerHubCredentials

  prologue:
    commands:
      - checkout
      - .semaphore/semaphoreci-cleandisk.sh
      - .semaphore/ubuntu1804-podman-install.sh
      - sudo podman info
      # - cache restore container_images
      # - sudo du -sh $HOME/.local/share/containers/
      - sem-version java 11
      - java -version
      - echo $DOCKERHUB_PASSWORD | sudo podman login --username "$DOCKERHUB_USERNAME" --password-stdin
      - sudo podman login --get-login docker.io

  epilogue:
    always:
      commands:
#        - cache delete container_images
#        - cache store container_images $HOME/.local/share/containers/storage/
        - sudo du -sh /mnt/containers/storage
        - df -h

blocks:
  - name: Couchbase building
    run:
      when: "change_in('/deploy/couchbase/')"
    task:
      jobs:
        - name: Build Couchbase container
          commands:
            - cd deploy/
            - sudo ./build-couchbase.sh
            - sudo podman push docker.io/leonidv/idel-couchbase docker.io/leonidv/idel-couchbase

  - name: Backend building
    run:
      when: "change_in(['/backend/', '/backend-test/'])"
    task:
      env_vars:
        - name:  BUILD_DIR
          value: /home/semaphore/ideaelection
        - name: LOG_DIR
          value:  /home/semaphore/ideaelection/logs

      prologue:
        commands:
          - checkout
          - sudo scripts/couchbase-run.sh "-p 8080:8080"
          - sleep 15
          - cache restore gradleCache
#          - sudo du -sh $HOME/.gradle/caches/

      epilogue:
        always:
          commands:
            - cache store m2 $HOME/.m2
            - cache delete gradleCache
            - cache store gradleCache $HOME/.gradle/caches/
        on_fail:
          commands:
            - cp -r $BUILD_DIR/backend-test/build/reports $LOG_DIR
            - tar -zcvf log-and-reports.tar.gz $LOG_DIR
            - artifact push job log-and-reports.tar.gz
      jobs:
        - name: Build backend application
          commands:
            - export GIT_COMMIT=$SEMAPHORE_GIT_SHA
            - export GIT_BRANCH=$SEMAPHORE_GIT_BRANCH
            - cd $BUILD_DIR/backend
            - ./gradlew --console=plain build bootJar
            - cd $BUILD_DIR/deploy
            - sudo ./build-backend.sh testmode
            - cd $BUILD_DIR/scripts
            - sudo ./backend-run.sh testmode
            - sleep 10
            - cd ../backend-test
            - ./gradlew --console=plain test allureReport
            - sudo podman push docker.io/leonidv/idel-backend-testmode docker.io/leonidv/idel-backend-testmode

  - name: Deploy to test
    task:
      secrets:
        - name: SAEDI_KUBECTL
      prologue:
        commands:
          - .semaphore/install-kustomize.sh
      jobs:
        - name: Apply deployment
          commands:
            - kubectl config view
            - kubectl get deployments
            - kustomize build deploy/kubernetes/overlays/test/ | kubectl replace --force -f -
            - kubectl  rollout status -w deployment/test-saedi

IE-24. Fixes backend unit tests
  backend/src/test/kotlin/idel/domain/SecurityServiceSpec.kt
Due: Backend building

IE-24. Regenerate joiningKey
  backend-test/src/test/kotlin/idel/tests/apiobject/GroupsApi.kt
  backend-test/src/test/kotlin/idel/tests/scenario/AccessToPrivateGroupScenarios.kt
  backend-test/src/test/kotlin/idel/tests/spec/GroupsSpec.kt
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/SecurityService.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/UserCouchbaseRepository.kt
Due: Backend building

CI. Add test-reports as arifact on build fail
  .semaphore/semaphore.yml
Due: none

CI. Change storage locations
  .semaphore/semaphore.yml
  .semaphore/ubuntu1804-podman-install.sh
Due: none

CI. fixes
  .semaphore/semaphore.yml
Due: none

Add swagger ui. CI. Add deploy to test.saedi.io
  .gitignore
  .semaphore/semaphore.yml
  .semaphore/ubuntu1804-podman-install.sh
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/IdeasController.kt
  deploy/test-deployment.yaml
  scripts/saedi-testmode-pod.sh
Due: Backend building

CI. Adds podman fixes
  .semaphore/semaphore.yml
  deploy/couchbase/Containerfile
  scripts/couchbase-run.sh
Due: Couchbase building

IE-4. IE-3. Scenarios for joining to closed and private groups
  backend-test/src/test/kotlin/idel/tests/Matchers.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/JoinRequestsApi.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/Checkers.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/DescribeSpecUtils.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/JsonNodeExtensions.kt
  backend-test/src/test/kotlin/idel/tests/scenario/JoinToPrivateGroupScenarios.kt
  backend-test/src/test/kotlin/idel/tests/scenario/JoinToPublicGroupScenario.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
Due: Backend building

US 1.1.2; US 1.2.2; Invites and join requests
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/api/ResponseOrError.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
  backend/src/main/kotlin/idel/domain/ValidationException.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupCouchbaseRepository.kt
  backend/src/test/kotlin/idel/domain/GroupSpec.kt
  docs/dev/groups.adoc
Due: Backend building

CI. Clear hdd fix
  .semaphore/semaphore.yml
  .semaphore/ubuntu1804-podman-install.sh
Due: none

CI. Couchbase scripts can run without publish ports
  .semaphore/semaphore.yml
  scripts/couchbase-run.sh
Due: none

IE-15. Idea implemented flag
  backend-test/src/test/kotlin/idel/tests/apiobject/IdeasApi.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/JoinRequestsApi.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/DescribeSpecUtils.kt
  backend-test/src/test/kotlin/idel/tests/scenario/JoinToGroupScenarios.kt
  backend-test/src/test/kotlin/idel/tests/spec/IdeaAssigneeSpec.kt
  backend-test/src/test/kotlin/idel/tests/spec/IdeaChangeSpec.kt
  backend-test/src/test/kotlin/idel/tests/spec/IdeaImplementedSpec.kt
  backend/src/main/kotlin/idel/api/IdeasController.kt
  backend/src/main/kotlin/idel/domain/Idea.kt
  docs/dev/security.adoc
Due: Backend building

Adds loading join requests (without complex users permission checks)
  backend/src/main/kotlin/idel/api/BaseEntities.kt
  backend/src/main/kotlin/idel/api/DataOrError.kt
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/api/JoinRequestController.kt
  backend/src/main/kotlin/idel/api/WebMvcConfig.kt
  backend/src/main/kotlin/idel/domain/BaseRepository.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
  backend/src/main/kotlin/idel/domain/Identifiable.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/AbstractTypedCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/JoinRequestCouchbaseRepository.kt
Due: Backend building

Add probes and build info
  .semaphore/semaphore.yml
Due: none

CI. Clear hdd fix
  .semaphore/semaphoreci-cleandisk.sh
Due: none

CI. Adds podman
  .semaphore/ubuntu1804-podman-install.sh
Due: none

CI. Adds podman fixes
  .semaphore/semaphore.yml
Due: none

Add probes and build info
  .gitignore
  .semaphore/install-kustomize.sh
  .semaphore/semaphore.yml
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/IdeasController.kt
  backend/src/main/kotlin/idel/api/ProbesController.kt
  backend/src/main/kotlin/idel/infrastructure/security/WebSecurityConfig.kt
  backend/src/main/resources/application.yaml
  deploy/kubernetes/base/deployment.yaml
  deploy/kubernetes/base/ingress.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/service.yaml
  deploy/kubernetes/overlays/test/kustomization.yaml
  deploy/kubernetes/overlays/test/update
  deploy/test-deployment.yaml
Due: Backend building

Adds description of access levels to Groups and Ideas. Adds calculation of access levels
  backend-test/src/test/kotlin/idel/tests/Matchers.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/AbstractObjectApi.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/Couchbase.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/GroupsApi.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/User.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/UserApi.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/HttpClientExtensions.kt
  backend-test/src/test/kotlin/idel/tests/scenario/JoinToGroupScenarios.kt
  backend-test/src/test/resources/logback.xml
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/ApiSecurity.kt
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/api/GroupMemberController.kt
  backend/src/main/kotlin/idel/api/IdeasController.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/GroupMember.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
  backend/src/main/kotlin/idel/domain/Idea.kt
  backend/src/main/kotlin/idel/domain/SecurityService.kt
  backend/src/main/kotlin/idel/infrastructure/DomainConfiguration.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupMemberCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/IdeaCouchbaseRepository.kt
  backend/src/test/kotlin/idel/domain/IdeaSpec.kt
  backend/src/test/kotlin/idel/domain/SecurityServiceSpec.kt
  docs/dev/security.adoc
Due: Backend building

Fixes groups specification
  backend-test/src/test/kotlin/idel/tests/apiobject/GroupsApi.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/IdeasApi.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/JoinRequestsApi.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/Checkers.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/DescribeSpecUtils.kt
  backend-test/src/test/kotlin/idel/tests/spec/GroupsSpec.kt
  backend-test/src/test/kotlin/idel/tests/spec/IdeaEditSpec.kt
Due: Backend building

CI. Add test-reports as arifact on build fail
  .semaphore/logback.xml
  .semaphore/semaphore.yml
Due: none

CI. Adds podman fixes
  scripts/couchbase-run.sh
Due: none

Adds processing of join request to public group
  backend/src/main/kotlin/idel/api/IdeasController.kt
  backend/src/main/kotlin/idel/api/JoinRequestController.kt
  backend/src/main/kotlin/idel/api/ResponseOrError.kt
  backend/src/main/kotlin/idel/api/UserController.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
  backend/src/main/kotlin/idel/domain/Idea.kt
  backend/src/main/kotlin/idel/domain/User.kt
  backend/src/main/kotlin/idel/infrastructure/DomainConfiguration.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/AbstractTypedCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupMembershipCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/IdeaCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/InviteCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/JoinRequestCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/UserCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/security/OAuth2AuthorityLoaderProxyProvider.kt
  backend/src/test/kotlin/idel/domain/GroupSpec.kt
  docs/dev/invite.puml
Due: Backend building

CI. Adds podmans
  .semaphore/semaphore.yml
Due: none

CI. Change storage locations
  .semaphore/ubuntu1804-podman-install.sh
Due: none

IE-18. Refactoring of administartion - moved from Group entity to GroupMembers list.
  backend-test/src/test/kotlin/idel/tests/apiobject/GroupsApi.kt
  backend-test/src/test/kotlin/idel/tests/infrastructure/Checkers.kt
  backend-test/src/test/kotlin/idel/tests/spec/GroupsSpec.kt
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/ApiSecurity.kt
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/api/GroupMemberController.kt
  backend/src/main/kotlin/idel/api/IdeasController.kt
  backend/src/main/kotlin/idel/api/OptionalAsOption.kt
  backend/src/main/kotlin/idel/domain/BaseRepository.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/GroupMember.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
  backend/src/main/kotlin/idel/domain/Idea.kt
  backend/src/main/kotlin/idel/domain/SecurityService.kt
  backend/src/main/kotlin/idel/domain/Validations.kt
  backend/src/main/kotlin/idel/infrastructure/DomainConfiguration.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/AbstractTypedCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/CouchbaseTransactions.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupMemberCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/TypedJsonSerializer.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/UserCouchbaseRepository.kt
  backend/src/main/resources/application.yaml
  backend/src/main/resources/logback-spring.xml
  backend/src/test/kotlin/idel/domain/SecurityServiceSpec.kt
  scripts/couchbase-init-test.sh
  scripts/couchbase-run.sh
Due: Backend building

CI. Run backend in container
  .semaphore/semaphore.yml
Due: none

IE-5. member leaves group
  backend-test/src/test/kotlin/idel/tests/apiobject/GroupsApi.kt
  backend-test/src/test/kotlin/idel/tests/apiobject/UserApi.kt
  backend-test/src/test/kotlin/idel/tests/scenario/JoinAndLeaveToPrivateOrClosedGroupScenarios.kt
  backend-test/src/test/kotlin/idel/tests/spec/GroupsSpec.kt
  backend/build.gradle.kts
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/api/GroupMemberController.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupMemberCouchbaseRepository.kt
  backend/src/main/resources/logback-spring.xml
Due: Backend building

CI. Backend test gradle is downgraded to 6.8.3 due to bug in allure report plugin
  backend-test/gradle/wrapper/gradle-wrapper.properties
Due: Backend building

CI investigations
  .semaphore/semaphore.yml
Due: none

Adds logo to groups. Adds kicking of a member from a group. Refactor load Option to EntityNotFound
  backend/src/main/kotlin/idel/api/DataOrError.kt
  backend/src/main/kotlin/idel/api/GroupController.kt
  backend/src/main/kotlin/idel/api/JoinRequestController.kt
  backend/src/main/kotlin/idel/api/UserController.kt
  backend/src/main/kotlin/idel/domain/Group.kt
  backend/src/main/kotlin/idel/domain/GroupMembership.kt
  backend/src/main/kotlin/idel/domain/Identifiable.kt
  backend/src/main/kotlin/idel/domain/User.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/AbstractTypedCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/GroupCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/repositories/UserCouchbaseRepository.kt
  backend/src/main/kotlin/idel/infrastructure/security/OAuth2AuthorityLoaderProxyProvider.kt
Due: Backend building
